---
import Layout from "../layouts/Layout.astro";
import AirQuality from "../components/AirQuality.jsx";
import AirQualityList from "../components/AirQualityList";
import airQualityForecastData from "../data/airQualityForecastData.json";
---

<Layout title="Calidad del aire en Trinidad Beni Bolivia | AireCamba">
  <section>
    <div class="lg:flex lg:gap-1">
      <AirQuality client:load />
      <AirQualityList data={airQualityForecastData} client:load />
    </div>
  </section>
</Layout>

<style></style>
